@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 786px / 2);
    padding-right: calc(50% - 786px / 2);
  }
}

button {
  border: 3px solid black;
  cursor: pointer;
}

.border-bottom {
  height: 10px;
  background-color: #d70c0c;
}
