@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");

$default-color-orange: #ffaa29;
$hover-color-orange: #ff9029;
$active-color-orange: #ffb545;
$default-color-green: #62c03d;
$hover-color-green: #3ea316;
$active-color-green: #76cd54;
$text-color: #042a2b;
$text-color-button: #ffffff;
$background-color: #ffffff;
$gray-text: #878989;
$footer-gray-text: #b9c0c0;
$font-family: "Raleway", "Helvetica", "Arial", sans-serif;
