@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");

$default-color-orange: #ff9800;
$hover-color-orange: #ff9029;
$default-color-green: #62c03d;
$hover-color-green: #28a745;
$text-color: #1a2d32;
$text-color-button: #ffffff;
$background-color: #ffffff;
$gray-text: #888;

$font-family: "Raleway", sans-serif;
