@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&display=swap");

$primary-color: #ff9800;
$secondary-color: #28a745;
$text-color: #1a2d32;
$background-color: #f9f9f9;
$gray-text: #888;

$font-family: "Raleway", sans-serif;
