@use "variables" as *;

@use "@/styles/header";
@use "@/styles/footer";
@use "@/styles/houselist";
@use "@/styles/housecard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-variant-numeric: lining-nums;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  display: block;
  color: rgb(4, 42, 43);
}

.center {
  padding-left: calc(50% - 680px);
  padding-right: calc(50% - 680px);
}

button {
  border: none;
  cursor: pointer;
}

.container {
  // max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
