@use "variables" as *;

@use "@/styles/header";
@use "@/styles/footer";
@use "@/styles/houselist";
@use "@/styles/housecard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
