@use "variables" as *;
@use "@/styles/header";
@use "@/styles/footer";
@use "@/styles/houselist";
@use "@/styles/housecard";
@use "@/styles/bookingform";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-family;
  font-variant-numeric: lining-nums;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  display: block;
  color: $text-color;
}

.center {
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: 1024px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

button {
  border: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
