@use "@/assets/scss/variables" as *;

footer {
  color: $text-color-button;
}

a {
  color: $text-color-button;
}

ul {
  list-style: none;
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 30px 30px 0 0;
  height: 360px;
  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
  }
  &__details {
    width: 322px;
  }

  &__details p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(185, 192, 192);
    line-height: 140%;
    margin-top: 12px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
  }
  &__phone {
    font-size: 24px;
    font-weight: 600;
    &:hover {
      // transition: color 0.8 ease-in-out;
      color: $default-color-green;
    }
  }
  &__email {
    font-size: 20px;
    font-weight: 500;
    &:hover {
      color: $default-color-green;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    border-top: white solid 1px;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 26px;
  }
  &__bottom p {
    display: inline-block;
    font-size: 14px;
    padding-inline-end: 24px;
  }
}
.menu-items {
  width: 207px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  line-height: 140%;
}
.social__item {
  display: inline-block;
  margin-left: 12px;
}
.social__item:first-child {
  margin: 0;
}
.social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.vk {
  background-image: url(/icons/vk.png);
}
.ok {
  background-image: url(/icons/ok.png);
}
.insta {
  background-image: url(/icons/insta.png);
}
.youtube {
  background-image: url(/icons/youtube.png);
}
.telegram {
  background-image: url(/icons/telegram.png);
}
.whatsapp {
  background-image: url(/icons/whatsapp.png);
}
.hh {
  background-image: url(/icons/hh.png);
}
.create {
  display: flex;
  align-items: center;
  gap: 8px;
}
.create p {
  padding: 0;
}

@media (max-width: 1024px) {
  .footer {
    &__contacts {
      align-items: flex-start;
    }
    &__phone {
      font-size: 20px;
    }
  }
}
