@use "@/assets/scss/variables" as *;

.header {
  background: #fff;
  padding-top: 17px;
  padding-bottom: 17px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    width: 143px;
    height: 32px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__btn {
    display: flex;
    gap: 16px;
  }

  &__menu {
    display: flex;
    list-style: none;

    li {
      margin-right: 40px;
      a {
        color: rgb(4, 42, 43);
        font-weight: 500;
      }
    }

    .menu__dropdown {
      position: relative;
      cursor: pointer;

      .submenu {
        display: none;
        position: absolute;
        background: #fff;
        top: 100%;
        left: 0;
        padding: 10px;
        border-radius: 5px;

        li {
          padding: 5px 0;
        }
      }

      &:hover .submenu {
        display: block;
      }
    }
  }

  .btn {
    width: 102px;
    height: 38px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 600;

    &--green {
      background: $default-color-green;
      color: $text-color-button;
    }

    &--orange {
      background: $default-color-orange;
      color: $text-color-button;
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      color: #333;
      font-weight: 700;
    }

    img {
      margin-right: 5px;
    }
  }
}
.border-bottom {
  height: 2px;
  background-color: #f8f7f7;
}
