@use "@/assets/scss/variables" as *;
.header {
  background: $background-color;
  padding-top: 17px;
  padding-bottom: 17px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burger {
    display: none;
    padding: 7 px 4px;
    .burger-item {
      width: 24px;
      height: 2px;
      background: $gray-text;
    }
  }

  &__logo img {
    width: 143px;
    height: 32px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;
    a:hover {
      text-decoration: none;
      color: $default-color-green;
    }
  }
  &__btn {
    display: flex;
    gap: 16px;
  }

  &__menu {
    display: flex;
    list-style: none;

    li {
      margin-right: 40px;
      a {
        color: $text-color;
        font-weight: 500;
      }
    }

    .menu__dropdown {
      position: relative;
      cursor: pointer;
      color: $text-color;
      &:hover {
        color: $default-color-green;
      }
      &::after {
        width: 64px;
        height: 22px;
      }

      .submenu {
        width: 292px;
        display: none;
        position: absolute;
        background: $background-color;
        top: 46px;
        left: -120px;
        border-radius: 0 0 20px 20px;
        z-index: 2;
        li {
          width: 100%;
          padding: 8px 16px 12px 16px;
          &:hover {
            background-color: #e6f5e0;
          }
          a:hover {
            color: $text-color;
          }
        }
        &__item {
          border-radius: 0 0 20px 20px;
        }
      }

      &:hover .submenu {
        display: block;
      }
    }
  }

  .btn {
    width: 102px;
    height: 38px;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 600;
    &:hover {
      color: $text-color-button;
    }
    &--green {
      background: $default-color-green;
      color: $text-color-button;
    }

    &--orange {
      background: $default-color-orange;
      color: $text-color-button;
    }
  }

  &__phone {
    a {
      display: flex;
      align-items: center;
      color: $text-color;
      font-weight: 700;
    }
    a:hover {
      text-decoration: none;
      color: $text-color;
    }

    img {
      margin-right: 8px;
    }
  }
}
.border-bottom {
  height: 2px;
  background: $border-bottom-color;
}

.mobile {
  &__nav {
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    z-index: 1002;
  }
  &__menu {
    position: relative;
    top: 14px;
    left: 0;
    display: flex;
    flex-direction: column;
    li {
      padding: 14px 16px;
      background: $background-color;
      border-bottom: 2px solid $border-bottom-color;
      &:hover {
        background-color: #e6f5e0;
      }
      a {
        color: $text-color;
        text-decoration: none;
        span {
          .text-black {
            color: $text-color;
            font-weight: bold;
          }
        }
      }
      .text-green {
        color: $default-color-green;
        font-weight: 600;
      }
      .text-orange {
        color: $default-color-orange;
        font-weight: 600;
      }
      .mobmenu-phone {
        a {
          display: flex;
          align-items: center;
          color: $text-color;
          font-weight: 700;
        }
        a:hover {
          text-decoration: none;
          color: $text-color;
        }

        img {
          margin-right: 8px;
        }
      }
    }
  }
}
.text-green {
  color: $default-color-green;
}
@media (max-width: 1024px) {
  .mobile {
    &__nav {
      top: 57px;
      width: 100%;
    }
  }
}
@media (max-width: 1280px) {
  .header {
    &__burger {
      display: flex;
      gap: 6px;
      flex-direction: column;
    }
    &__logo img {
      width: 110px;
      height: 24px;
    }
    &__nav {
      display: none;
    }
    &__phone {
      img {
        width: 32px;
        height: 32px;
      }
      &--number {
        display: none;
      }
    }
  }
}
