@use "@/assets/scss/variables" as *;

.hero-section {
  padding-top: 24px;
  padding-bottom: 24px;
  background: $background-color;

  /* &__header {
    display: inline-block;
  } */

  &__text {
    display: inline;
    // vertical-align: bottom;
    line-height: 110%;
    font-size: 66px;
    text-transform: uppercase;
    &--city {
      color: $hover-color-green;
    }
  }

  &__button {
    position: absolute;
    width: 360px;
    height: 48px;
    margin: 10px 0;
    margin-left: 30px;
    background-color: $default-color-orange;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color-orange;
    }
  }

  img {
    // width: 480px;
    margin-top: 24px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 1000;
  }

  &__content {
    position: relative;
    background: $background-color;
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}
