@use "@/assets/scss/variables" as *;

.house-card {
  display: flex;
  flex-direction: column;
  &__top {
    position: relative;
    z-index: -1;
  }

  &__image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 130%;
  }
  &__info {
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    z-index: 0;
    @media (max-width: 1024px) {
      position: static;
      margin-top: 16px;
    }
  }

  &__location {
    display: flex;
    gap: 7px;
    padding: 8px;
    border-radius: 8px;
    color: $text-color-button;
    background: $default-color-green;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    color: $text-color;
    gap: 12px;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }
  &__tags li {
    height: 30px;
    background: #e6f5e0;
    padding: 8px;
    border-radius: 8px;
  }
  &__prices {
    display: flex;
    align-items: center;
    font-weight: 600;
  }
  &__price {
    font-size: 24px;
    color: $text-color;
    &--day {
      font-size: 20px;
      margin-right: 12px;
    }
  }
  &__old-price {
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    color: $gray-text;
  }
  &__button {
    width: 154px;
    height: 44px;
    display: inline;
    padding: 14px 32px;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 600;
    color: $text-color-button;
    background: $default-color-green;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      background: $hover-color-green;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}

.info {
  display: flex;
  gap: 8px;
  border-radius: 8px;
  background: $background-color;
  padding: 8px;
  @media (max-width: 1024px) {
    border: 1px solid rgb(245, 245, 245);
  }
}
.tablet {
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
}
